.left-side {
  border-right: 1px solid black;
  height: 105vh;
  padding: 20px;
}

.side-image {
  margin: 20px;
  cursor: pointer;
}

.right-side {
  margin: 40px auto;
  width: 600px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.range {
  text-align: center;
  margin: 20px 0;
}
